<div class="collapsible">abscond</div>
<div class="content">
    <div class="preamble">
        <a href="https://dictionary.cambridge.org/dictionary/english/abscond" target="_blank" rel="noopener noreferrer">
            abscond
        </a>
        <div class="word-buttons">
            <i class="fa fa-strikethrough" title="strike through the work"></i>
            <i class="fa fa-bolt" title="mark this for later"></i>
        </div>
    </div>

    <p>
        to go away suddenly and secretly in order to escape from somewhere
    <ul>
        <li>Two prisoners absconded last night.</li>
        <li>She absconded from boarding school with her boyfriend.</li>
    </ul>
    </p>
</div>
<div class="collapsible">End</div>